h1 {
    font-family: 'Instrument Serif', serif;
font-family: 'PT Serif', serif;
}
P{
    font-family: 'Instrument Serif', serif;
font-family: 'PT Serif', serif;
font-family: 'Vina Sans', cursive;
}